<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Base Questions</title>
</head>
<body>
    <h1>Guesspionage</h1>

    <% questions.forEach(question => {%>
        <p><%= question %></p>
        <% }) %>