<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Base Questions</title>
</head>
<body>
    <h1>Guesspionage</h1>
    <p>To start the game, answer the following questions first</p>
    <p>Do you...</p>
    <ol>
        <% questions.forEach(question => {%>
            <form method="post" action="/game/" id="baseQs">
                <li><%= question.question %></li>
                <label><input type="radio" name="yesNo" value="Yes" required= "required">Yes </label>
                <label><input type="radio" name="yesNo" value="No" required="required">No</label>
                <p></p>
            </form>
            <% }) %>
    </ol>
    <form method="post" action="/game/" id="submitBase">
        <p><button type="submit" value="base">Start Game</button></p>
    </form>
        