<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Home Page</title>
</head>
<body>
    <h1>Guesspionage</h1>
    <% 
    let buttonRef; 
    let loginButton
    let loginButtonText;

    if (loggedInUser) {
        buttonRef = "/baseQs/"
        loginButton = "/logout/"
        loginButtonText = "Logout"
    } else {
        buttonRef = "/register/"
        loginButton = "/register/"
        loginButtonText = "Login"
    }
    %>

    <div class="container">
        <a href="<%= buttonRef %>">
            <button class="playGame"></button>
        </a>
    </div>
    <% if (loggedInUser) {%>
    <h4>Welcome <%= loggedInUser %>!</h4>
    <%} %>
    <h5>To Start The Game Click The Button Below </h5>

    
    <div class="login-container"> 
        <form action="<%= loginButton %>" method="GET">
            <button><%= loginButtonText %></button>
        </form>
        <form action="/insert/" method="GET">
            <button>Insert Question</button>
        </form>
    </div>

    <script>
    $('.logout').on('click', function(event) {
        event.preventDefault(); 
        const url = $(this).data('target');
        location.replace(url);
    });
    </script>