<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Home Page</title>
</head>
<body>
    <h1>Guesspionage</h1>
    <% 
    let buttonRef; 

    if (loggedInUser) {
        buttonRef = "/baseQs/"
    } else {
        buttonRef = "/register/"
    }
    %>

    <div class="container">
        <a href="<%= buttonRef %>">
            <button class="playGame"></button>
        </a>
    </div>
    <h3>To Start The Game Click The Button Below </h3>

    
    <div class="login-container"> 
        <form action="/register">
            <button>Login</button>
        </form>
    </div>

    <script>
    $('.logout').on('click', function(event) {
        event.preventDefault(); 
        const url = $(this).data('target');
        location.replace(url);
    });
    </script>