<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Node Starter</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

  <h1>Insert Question</h1>
  <h2>If you'd like to insert a question to the game use the form below.
    If you know the answer, please fill in the percentage. If not, leave it blank and we will
    gather the data for you.
  </h2>
  
    <form class="game"
    method="POST"
    action="/insert/">
        <p><label>What percentage of people... <input type="text" name="question" required="required"></label></p>
        <p><label>Answer (if known):</label> <input name="answer">%</label></p>
      <p><button type="submit">Submit</button></p>
    </form>

    <!-- load local js -->
    <script src="/main.js"></script>
</body>
</html>
