h1 { 
  text-align: center;
  color: rgb(18, 156, 156);
  font-style: italic;
  font-size: 4em;
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-block-start: 0.80em;
  margin-block-end: 0.80em;
  font-weight: bold;
}

h3, h4, h5 {
  text-align: center;
  color: rgb(117, 10, 114);
  font-style: italic;
  font-size: 2em;
}

.container {
  width: 280px;
  height: 250px;
  border-radius: 50%; /* Make it a circle */
  background-color: rgb(18, 156, 156); /* Background color of the circle */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playGame {
  width: 0;
  height: 0;
  border-top: 75px solid transparent;
  border-left: 100px solid #740a78;
  border-bottom: 75px solid transparent;
  background-color: rgb(18, 156, 156);
  align-items: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  color: white;
  padding: 0.5em 1.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  margin-bottom: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: antiquewhite;
  font-family: inherit;
  font-weight: 500;
}

button, #start {
  border-radius: 5px;
  color: white;
  padding: 0.5em 1.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  margin-bottom: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  transition: border-color 0.25s;
  background-color: thistle;
  font-family: inherit;
  font-weight: 500;
}

/* these styles are for the two different kinds of flashed messages. */

#errors {
  color: red;
  font-size: 1em;
  font-style: italic;
}

#info {
  color: rgb(234, 149, 13);
  font-size: 1em;
  font-style: italic;
}

p { 
  color: black;
}

body {
  background-color: antiquewhite;
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;

}

.baseQs {
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
  justify-content: center;
}

.homeB {
  text-decoration: none;
  color: inherit;
  position: fixed;
  top: 10px;
  right: 10px;
}

.game {
  margin: 5em; 
  padding: 2.5em; 
  border-style: solid; 
  font-size: 1em;
  width: 50%;
  justify-content: center;
}