h1 {
  color: purple;
}

h1 { 
  text-align: center;
  color: rgb(18, 156, 156);
  font-style: italic;
  font-size: 4em;
}

h3, h4 {
  text-align: center;
  color: rgb(117, 10, 114);
  font-style: italic;
  font-size: 2em;
}

.container {
  width: 280px;
  height: 250px;
  border-radius: 50%; /* Make it a circle */
  background-color: rgb(18, 156, 156); /* Background color of the circle */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playGame {
  width: 0;
height: 0;
border-top: 75px solid transparent;
border-left: 100px solid #740a78;
border-bottom: 75px solid transparent;
  background-color: rgb(18, 156, 156);
  align-items: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}