h1 { 
  text-align: center;
  color: rgb(18, 156, 156);
  font-style: italic;
  font-size: 4em;
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-block-start: 0.80em;
  margin-block-end: 0.80em;
  font-weight: bold;
}

h3, h4, h5 {
  text-align: center;
  color: rgb(117, 10, 114);
  font-style: italic;
  font-size: 2em;
}

/* .container {
  width: 280px;
  height: 250px;
  border-radius: 50%;
  background-color: rgb(18, 156, 156);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

 .playGame {
  border-radius: 30px;
  color: white;
  padding: 1em 2.4em;
  text-align: center;
  text-decoration: none;
  margin: auto;
  top: 55%;
  font-size: 50px;
  margin: 30px 25px;
  margin-bottom: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  transition: border-color 0.25s;
  background-color: rgb(18, 156, 156);;
  font-family: inherit;
  font-weight: 1000;
} 

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  color: white;
  padding: 0.5em 1.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  margin-bottom: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: antiquewhite;
  font-family: inherit;
  font-weight: 500;
}

button, #start {
  border-radius: 5px;
  color: white;
  padding: 0.5em 1.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  margin-bottom: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  transition: border-color 0.25s;
  background-color: thistle;
  font-family: inherit;
  font-weight: 500;
}

/* these styles are for the two different kinds of flashed messages. */

#errors {
  color: red;
  font-size: 1em;
  font-style: italic;
}

#info {
  color: rgb(234, 149, 13);
  font-size: 1em;
  font-style: italic;
}

body {
  background-color: antiquewhite;
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;

}

#intro{
  justify-content: center;
  color: rgba(0, 4, 255, 0.894);
  padding: 0.5em 1.2em;
  text-align: center;
  font-size: 15px;
  font-family: inherit;
  font-weight: 500;
  font-size: large;
}

.baseQs {
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
  justify-content: center;
}

.homeB {
  text-decoration: none;
  color: inherit;
  position: fixed;
  top: 10px;
  right: 10px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.game {
  text-align: center;
  margin: 5em; 
  padding: 2.5em; 
  border-style: solid; 
  font-size: 1em;
  width: 50%;
  justify-content: center;
}

.questionSubmission{
  text-align: center;
}

table {
  display: flex;
  text-align: center;
  border: 5px solid;
  width: 500px;
  height: 500px;
  margin: auto; 
}
.questionsDisplayed {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 700px;
  margin:auto;
  width: 70%; 
}

.questionsDisplayed ul {
  width: 100%;
}

.questionsDisplayed ul li {
  width: 40%;
  float:inline-start;
  padding-right: 30px;
}
